<%- include ('../partials/header') %>

<main>
    <body style="min-height: 100vh;
    display: flex;
    flex-direction: column;">
         <!-- "My Interests" Header -->
    <div class="header" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px;">
        <h3>
            About Us
        </h3>
    </div>

    <!-- cards for hobbies -->
        <div class="card" id="about us cards">
            <center>
            <div class="row">
                <div class="col"> <!-- card 1 -->
                    <div class="card" id="our-goal-card" style="width: 25rem;">
                        <div class="crop" style="margin: auto; 
                        width: 286px;
                        height: 290px;
                        overflow: hidden;
                        padding: 10px;">
                            <img src="https://stokedrideshop.com/cdn/shop/articles/Freestyle_Skiing.jpg?v=1662060036" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">Our Goal</h5>
                        <p class="card-text" style="height: 150px;">To make it easier for users to find the best mountain for them. Our app streamlines reseraching mountains so you can find all the information you need in one place. The map is included to allow you to see every run at that mountain as not every run is included in the database. The runs listed are very popular runs amongst those levels to allow you to have the best experience on the mountain.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="vision-statement-card" style="width: 25rem;">
                        <div class="crop" style="margin: auto; 
                        width: 286px;
                        height: 290px;
                        overflow: hidden;
                        padding: 10px;">
                            <img src="https://uploads.documents.cimpress.io/v1/uploads/11b6707d-120f-4478-8cd2-d4772aa28a97~100?variant=original&tenant=logos-prod" class="card-img-top" alt="socializing image" style="background-color: #4b8b8b;">
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">Vision Statement</h5>
                        <p class="card-text" style="height: 150px;">For skiers/snowboarders who are new to the sport, new to the area, or just looking to find new mountains and trails. Colorado PowderPro is an application that will provide users with a tool to help decide which ski resort and runs are the right fit for them. </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!-- card 3 -->
                    <div class="card" id="who-are-we-card" style="width: 25rem;">
                        <div class="crop" style="margin: auto; 
                        width: 286px;
                        height: 290px;
                        overflow: hidden;
                        padding: 10px;"><img src="https://www.aau.edu/sites/default/files/images/aau-logographic-300x.png" class="card-img-top" alt="hikinh/camping image"></div>
                        <div class="card-body">
                        <h5 class="card-title">Who are we?</h5>
                        <p class="card-text" style="height: 150px;">We are 5 undergraduate students that study computer science at CU Boulder. We all love snow sports and wanted to create an app to help others skiers.</p>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
        </center>
        </div>
    </body>

</main>


<%- include ('../partials/footer') %>