<!-- <%- include ('../partials/message')%> -->
<%- include ('../partials/footer') %>
<main>
    <div class="container">
        <form action="/login" method="POST"><br>
            <label for="username">Username: </label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password: </label><br>
            <input type="password" id="password" name="password">   
            <button class="Submit" type="submit">Login</button>
        </form>
    </div>
</main>
<%- include ('../partials/footer') %>