<div>class="col"<%- include ('../partials/message')%></div>
<%- include ('../partials/header') %>

<main>
    <div class="container">
        <form action="/login" method="POST"><br>
            <label for="username">Username: </label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password: </label><br>
            <input type="password" id="passwsord" name="password">   
            <button class="Submit" type="submit">Login</button>
        </form>
    </div>
</main>

<%- include ('../partials/footer') %>