
<%- include ('../partials/header_login') %>
<main>
  <div class="container" style="margin-top: 20px; margin-bottom: 390px; margin-left: 20px;">
    <form action="/register" method="POST"><br>
      <label for="username">Username: </label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password: </label><br>
      <input type="password" id="password" name="password"><br>
      <label for="pass">Pass: (Ikon or Epic, please uppercase as shown) </label><br>
      <select id ="pass" name="pass">
        <option value="Select option">Select</option>
        <option value="Ikon">Ikon</option>
        <option value="Epic">Epic</option>
      </select>
      <br>
      <label for="skill">Skill Level: (1-4, type just the number) </label><br>
      <input type="number" id="skill" name="skill"><br>
      <button  type="submit">Register</button>
    </form>
  </div>
</main>

<%- include ('../partials/footer_login') %>