<%- include ('../partials/header_login') %>
<%- include ('../partials/message')%> 


<div class="card mb-3" style="width: 500px; margin: auto;">
    <div class="row g-0 d-flex align-items-center">
        <!-- <div class="col-lg-3 d-none d-md-flex">
            <img src="https://stokedrideshop.com/cdn/shop/articles/Freestyle_Skiing.jpg?v=1662060036"
              alt="login form" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
      <div class="col-lg-8"> -->
        <div class="card-body py-4 px-md-5" style="width: 100px;">

                    <h4 class="mb-2" style="letter-spacing: 1px;">Register</h5>

                    <form action="/register" method="POST"><br>
                        <div class="form-outline mb-2">
                            <label class="form-label" for="username">Username: </label><br>
                            <input type="text" id="username" name="username" class="form-control"><br>
                        </div>
                        <div class="form-outline mb-2">
                            <label class="form-label" for="password">Password: </label><br>
                            <input type="password" id="password" name="password" class="form-control"><br>
                        </div>
                        <div class="form-outline mb-2">
                            <label for="pass" style="padding-bottom: 10px">Pass: (Ikon or Epic, please uppercase as shown) </label><br>
                            <select id ="pass" name="pass" class="form-control">
                            <option value="Select option">Select</option>
                            <option value="Ikon">Ikon</option>
                            <option value="Epic">Epic</option>
                            </select>
                            <br>
                        </div>
                        <div class="form-outline mb-2">
                            <label class="form-label" for="skill">Skill Level: (1-4, type just the number) </label><br>
                            <input type="number" id="skill" name="skill" class="form-control"><br>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block m-b-10">Register</button>
                        
                      </form>

                </div>
                </div>
            <!-- </div> -->
        </div>

<%- include ('../partials/footer_login') %>