

<main>
  <div class="container">
    <form action="/register" method="POST"><br>
      <label for="username">Username: </label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password: </label><br>
      <input type="password" id="password" name="password"><br>
      <label for="pass">Pass: (Ikon or Epic, please uppercase as shown) </label><br>
      <input type="text" id="pass" name="pass"><br>
      <label for="skill">Skill Level: (1-4, type just the number) </label><br>
      <input type="number" id="skill" name="skill"><br>
      <button  type="submit">Register</button>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>