<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<footer class="bg-dark text-white text-center">
    <div class="container p-4 pb-0">
      <section class="mb-4 text-center">  
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"><i class="fa fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://open.spotify.com" role="button"><i class="fa fa-spotify"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"><i class="fa fa-github"></i></a>
      </section>
    </div>
</footer>